@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap');


body{
  overflow-x: hidden;
  font-family: 'Noto Sans TC', sans-serif;
  /* color: #505964; */
}

.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.offset:before{
  height: 3.8rem;
  margin-top: -3.8rem;
  content: "";
  display: block;
}


.btn-danger{
  margin-top: 1.5rem;
}


/* navbar */
.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  background: rgba(0,0,0,0.65)!important;
}

.navbar-brand img{
  height: 2rem;
}
.navbar-nav li{
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link{
  color: #fff;
  padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: #E42520;
}

/* carousel */
.carousel-item{
  height: 100vh;
}

.carousel-caption {
  position: absolute;
  top: 38%;
  text-transform: uppercase;
  width: 100%;
  right: 0;
  left: 0; 
}

.carousel-caption h1{
  font-size: 3.5rem;
  font-weight: 700;
  padding-bottom: 1rem;
}

.carousel-caption h3{
  font-size: 2rem;
  padding-bottom: 1rem;
}

.btn-lg{
  border-width: medium;
  border-radius: 0;
  font-size: 1rem;
}

/* locations */
.jumbotron{
  border-radius: 0;
  padding: 3rem 0 2rem;
  margin-bottom: 0;
}

h3.heading{
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 1.9rem;
}
.heading-underline{
  width: 4rem;
  height: .2rem;
  background-color: #E42520;
  margin: 0 auto 2rem;
}

.location img{
  max-width: 100%;
  transition: transform .5s;
  /* height: 400px;
  width: 240px; */
 
}

.location img:hover{
  transform: scale(1.1);
  cursor: zoom-in;
}

.location{
  overflow:hidden;
}

.row.no-padding [class*=col-]{
  padding: 0;
} 

/* trainers */
.card{
  margin: 2rem;
}

/* contact */

footer{
  background-color: #40474e;
  color: #fff;
  padding: 2rem 0 3rem;
  margin-top: 1.1rem;
  
}

footer img{
  height: 3rem;
  margin: 1.5rem 0;
}

footer a{
  color: #fff;
}

footer svg.svg-inline--fa{
  font-size: 1.5rem;
  margin: 1.2rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover{
  color: #E42520;
}

hr.socket{
  border-top: .2rem solid #666b75;
  width: 100%;
}


/* Media Queries */

@media (max-width: 767px){
  
  
.carousel-caption h1{
  font-size: 2.4rem;
  font-weight: 700;
  padding-bottom: .5rem;
}

  .carousel-caption h3{
    font-size: 1.1rem;
    padding-bottom: 1.2rem;
  }

  .btn-lg{
    
    font-size: 1rem;
  }

  .narrow h1{
    font-size: 1.5rem;
  }
  p.lead{
    font-size: 1.0rem;
  }

}
/* Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

