@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap');


body{
  overflow-x: hidden;
  font-family: 'Noto Sans TC', sans-serif;
  /* color: #505964; */
}

.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}


.btn-danger{
  margin-top: 1.5rem;
}


/* navbar */
.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  background: rgba(0,0,0,0.65)!important;
}

.navbar-brand img{
  height: 2rem;
}
.navbar-nav li{
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link{
  color: #fff;
  padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: #E42520;
}

/* carousel */
.carousel-item{
  height: 100vh;
}





/* Media Queries */

/* Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

